/* .mainPage {
    display: flex;
    gap: 20px;
}

#memoryGame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-items: center;
    width: 80%;
}
/*
#scorePage {
    display: grid;
    place-self: top;
}

#memoryGame > img {
    width: 60%;
    height: 60%;
}
*/
html {
    scroll-behavior: smooth !important;
}

body {
    background-color: whitesmoke;
}

section {
    height: 100vh;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    gap: 10px 10px;
    margin: 10%;
    padding-top: 30px;
}

section>div {
    background-color: white;
    border: solid 1px rgba(128, 128, 128, 0.74);
    height: 60%;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(143, 139, 139);
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    gap: 50px;
}

.btnA {
    width: 65%;
    height: 30px;
    background-color: black;
    color: white;
}

.btnA>button {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    border-style: none;
    height: 30px;
}

.gameData {
    border: solid 1px rgba(128, 128, 128, 0.74);
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(143, 139, 139);
    background-color: white;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}


.gameData>summary {
    border: none;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
    list-style: none;
}

summary {
    display: list-item;
    font-weight: bold;
    text-decoration: underline 2px;
}

details[open]>summary:first-of-type {
    list-style-type: none;
}

section>#gameBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    width: 80%;
    gap: 5px;
    place-items: center;
    padding-bottom: 10px;
}

.gifBody {
    background-color: black;
}

.gifEasy {
    width: 70%;
    height: 30%;
    margin: auto;
    background: url('/assets/img/stock-footage-retro-videogame-easy-mode-activated-text-computer-old-tv-glitch-interference-noise-screen-animation.gif') !important;
}

.gifMedium {
    width: 70%;
    height: 30%;
    margin: auto;
    background: url('/assets/img/stock-footage-retro-videogame-good-game-text-computer-old-tv-glitch-interference-noise-screen-animation-seamless.gif') !important;
}

.gifHard {
    width: 70%;
    height: 30%;
    margin: auto;
    background: url('/assets/img/stock-footage-retro-videogame-hard-mode-activated-text-computer-old-tv-glitch-interference-noise-screen-animation.gif') !important;
}


.bodyBaby {
    background-image: url('/assets/img/40712108-bebé-chupetes-dibujos-animados-patrón-de-fondo-sin-fisuras_opt.jpg');
    background-repeat: repeat;
    background-image: grayscale(100%)
}

.bodyHard {
    background-image: url('/assets/img/1000_F_167163226_ZL37TtYYKrKyAhMKIvycv3GiftIfZpLy.jpeg');
    background-repeat: repeat;
    background-image: grayscale(100%)
}

#gameBox>a {
    width: 75%;
    height: 75%;
}

img {
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.open {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.close {
    -webkit-filter: brightness(0);
    filter: brightness(0);
}

@media screen and (min-width:768px) {
    section {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    section>#gameBox {
        grid-template-columns: repeat(4, 1fr);
        width: 60%;
        height: 85%;
    }

    .gameData,
    #lives {
        width: 35%;
        height: 70%;
    }

    img.lives {
        width: auto;
        height: auto;
    }

    #lives {
        width: auto;
        height: auto;
        grid-column: span 2;
        align-self: end;
    }

    section>div {
        width: 60%;
    }

    #gameBox>a {
        width: 70%;
        height: 70%;
    }

    .gifEasy {
        width: 596px;
        height: 336px;
    }

    .gifMedium {
        width: 596px;
        height: 336px;
    }

    .gifHard {
        width: 596px;
        height: 336px;
    }
}